.care {
  padding: 30px 15px;
}

.care__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* .care__text-block {} */

.care__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.care__copy:first-of-type {
  font-weight: 400;
  margin-top: 20px;
}

.care__copy {
  font-weight: 400;
  margin-top: 10px;
}

.care__image-block {
  height: 72vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}