/* .column {} */

.column img {
  width: 40px;
  height: 40px;
}

.column__title {
  font-size: 16px;
  margin-bottom: 20px;
}

/* .column__list {} */

.column__item {
  font-size: 14px;
  margin-bottom: 10px;
}
