/*menu*/

.menu {
  background: var(--color-primary);
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 51px);
  z-index: 100;
  display: none;

  &.active {
    display: block;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    a {
      display: block;
      padding: 24px 15px;
      font-size: 24px;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
    }
    
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: var(--bg-color-primary);
    }

    &:last-child:after {
      display: none;
    }
  }
}

.divider {
  display: none;
}