   $font-path: 'assets/fonts/Nunito';

   @font-face {
     font-family: 'Nunito';
     font-weight: 400;
     src: url('#{$font-path}-Regular.woff2') format('woff2'),
          url('#{$font-path}-Regular.woff') format('woff'),
          url('#{$font-path}-Regular.ttf') format('truetype');
   }

   @font-face {
     font-family: 'Nunito';
     font-weight: 700;
     src: url('#{$font-path}-Bold.woff2') format('woff2'),
          url('#{$font-path}-Bold.woff') format('woff'),
          url('#{$font-path}-Bold.ttf') format('truetype');
   }

   body {
     font-family: 'Nunito', sans-serif;
   }

   p {
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
   }
   
