/* reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
  font-family: inherit;
  background: none;
  cursor: pointer;
  border: none;
}

input,
select {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/*global*/
body {
  padding-top: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

input {
  font-size: 16px;
}

img {
  width: 100%;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito-Regular.woff2") format("woff2");
  src: url("assets/fonts/Nunito/Nunito-Regular.woff") format("woff");
  src: url("assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito-Bold.woff2") format("woff2");
  src: url("assets/fonts/Nunito/Nunito-Bold.woff") format("woff");
  src: url("assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*column*/
.column__title {
  font-size: 16px;
  font-weight: 700;
}
.column__list {
  margin-top: 20px;
}
.column__item {
  margin-top: 10px;
  font-size: 14px;
}
.column img {
  width: 40px;
  height: 40px;
}

/*menu*/
.menu {
  background: #fff;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 51px);
  z-index: 100;
  display: none;
}
.menu.active {
  display: block;
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  position: relative;
}
.menu__item a {
  display: block;
  padding: 24px 15px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.menu__item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #aaa;
}
.menu__item:last-child:after {
  display: none;
}

.divider {
  display: none;
}

/*burger*/
.burger {
  position: relative;
  width: 30px;
  height: 18px;
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
}
.burger::before {
  top: 0;
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}
.burger::after {
  bottom: 0;
}
.burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 2s;
}
.burger.active span {
  display: none;
}
.burger.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45%);
  transition: all 2s;
}

.form {
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  font-weight: 400;
}
.form .connection-field select {
  color: #AAAAAA;
}
.form .connection-field select select option[value=""][disabled] {
  display: none;
}
.form .connection-field select option {
  color: #000;
}
.form .connection-field select:invalid, .form .connection-field select:focus {
  color: #484848;
}
.form .connection-field select:invalid {
  color: #AAAAAA;
}
.form__field {
  font-weight: 400;
  padding-top: 8px;
  display: grid;
  position: relative;
  outline: none !important;
  box-shadow: none !important;
}
.form__field input,
.form__field select {
  width: 100%;
  padding: 0px 0 4px 0;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  transition: all 0.2s ease;
  background-color: transparent;
  appearance: none;
}
.form__field input:focus,
.form__field select:focus {
  border-bottom-color: #ddd;
  outline: none;
}
.form__field input::placeholder,
.form__field select::placeholder {
  color: #AAAAAA;
  font-weight: 400;
  font-family: "Nunito";
}
.form__field select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 14px;
  padding-right: 25px;
  cursor: pointer;
}
.form__field.error input,
.form__field.error select {
  border-bottom-color: #e74c3c;
}
.form__checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 0 0;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.form__checkbox .checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.form__checkbox .checkbox-input:focus-visible + .checkbox-custom {
  outline: 2px solid #3498db;
}
.form__checkbox .checkbox-custom {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__checkbox .checkbox-custom img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.form__checkbox .policy-link {
  color: inherit;
  text-decoration: none;
  position: relative;
  font-size: 14px;
  line-height: 1;
}
.form__checkbox .policy-link::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #AAAAAA;
  transition: background-color 0.2s ease;
}
.form__checkbox .policy-link:hover::after {
  background-color: #3498db;
}
.form__submit {
  padding: 12px 24px;
  background-color: #ffffff;
  color: #484848;
  border: 1px solid #484848;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
}
.form__submit:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #484848;
}
.form__submit:active {
  transform: translateY(1px);
}

@media (max-width: 600px) {
  .form {
    padding: 15px;
    gap: 15px;
  }
  .form__checkbox {
    margin: 0;
  }
  .form__checkbox .checkbox-custom {
    width: 14px;
    height: 14px;
  }
  .form__submit {
    margin-top: 5px;
    padding: 12px 20px;
  }
}
/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #aaa;
}
.header__wrapper {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 77px;
  height: 30px;
}
.header__logo img {
  height: 100%;
}
.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__lang {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;
}
.header__lang img {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 9px;
  height: 6px;
}
.header__lang select {
  padding-left: 8px;
  height: 100%;
  width: 100%;
}
.header__theme {
  width: 26px;
  height: 26px;
}

/*download*/
.download {
  padding: 30px 15px;
}
.download__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.download__title {
  font-size: 30px;
  font-weight: 700;
}
.download__copy {
  margin-top: 20px;
}
.download__links {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*footer*/
.footer {
  padding: 30px 15px;
  color: #fff;
  background: #484848;
}
.footer__wrapper {
  display: grid;
  gap: 30px;
}
.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.footer__info {
  display: grid;
  gap: 10px;
}
.footer__logo {
  width: 216px;
  height: 24px;
}
.footer__copy {
  font-size: 12px;
  font-weight: 400;
}
.footer__dev {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 60px;
}

/*warranty*/
.warranty {
  padding: 30px 15px;
}
.warranty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.warranty__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.warranty__copy {
  font-weight: 400;
  margin-top: 10px;
}
.warranty__copy:first-of-type {
  margin-top: 20px;
}
.warranty__image-block {
  height: 72vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}

/*cashback*/
.cashback {
  padding: 30px 15px;
}
.cashback__title {
  font-size: 26px;
  font-weight: 700;
}
.cashback__copy {
  font-weight: 400;
  margin-top: 10px;
}
.cashback__copy:first-of-type {
  margin-top: 20px;
}
.cashback__button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #aaa;
}

.care {
  padding: 30px 15px;
}
.care__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.care__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.care__copy {
  font-weight: 400;
  margin-top: 10px;
}
.care__copy:first-of-type {
  margin-top: 20px;
}
.care__image-block {
  height: 72vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}

/*clients*/
.clients {
  padding: 30px 15px;
}
.clients__wrapper {
  display: grid;
  gap: 30px;
}
.clients__brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.clients__brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.active {
  opacity: 1;
  visibility: visible;
}
.modal__body {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 30px 10px 20px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}
.modal__close {
  position: absolute;
  top: -30px;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.modal__close img {
  width: 20px;
  height: 20px;
}
.modal__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px 10px 0 10px;
  color: #222;
}

/*# sourceMappingURL=style.css.map */
