/*clients*/

// Variables
$gap: 30px;

.clients {
  padding: 30px 15px;
  background-color: var(--bg-color-primary);

  &__wrapper {
    display: grid;
    gap: $gap;
  }

  &__stores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
  }

  &__store {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--bg-color-image);
  }
}