/*download*/

// Variables
$gap-large: 30px;
$gap-small: 15px;

// Mixin for flex-container with columns and gap
@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  background-color: var(--bg-color-primary);
}

.download {
  padding: 30px 15px;
  background-color: var(--bg-color-primary);

  &__wrapper {
    @include flex-column($gap-large);
  }

  &__image-block {
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    
    img {
      display: block;
      padding: 10px 28px;
      box-sizing: border-box;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
  }

  &__copy {
    color: var(--color-primary);
    margin-top: 20px;
  }

  &__links {
    margin-top: 20px;
    width: fit-content;
    @include flex-column($gap-small);
    border-color: var(--color-primary);
  }
}