/*download*/

// Variables
$gap-large: 30px;
$gap-small: 15px;

// Mixin for flex-container with columns and gap
@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.download {
  padding: 30px 15px;

  &__wrapper {
    @include flex-column($gap-large);
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__copy {
    margin-top: 20px;
  }

  &__links {
    margin-top: 20px;
    width: fit-content;
    @include flex-column($gap-small);
  }
}